.sideDrawer {
    width: 256px;
    max-width: 70%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;

}

@media only screen and (min-width: 500px) {
    .sideDrawer {
        display: none;
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    display: flex;
    justify-content: center;
}
